html{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}
body {
    margin: 0 auto;
}

header {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,38,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    text-align: center;
    height: 4rem;
    padding: 2em;
}
#container {
    display: flex;
}
main {
    border: 1px solid yellow;
    background-color: black;
    margin: 0 auto;
    height: 100%;
    background-image: url('assets/summit-band-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 33%;
    letter-spacing: 2px;
    /* display:flex;
    flex-direction: column;
    justify-content: center; */
    
}

h1 {
    margin:0 auto;
    font-size: 2.5rem;
    
}
form, #tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2rem auto;
    margin-bottom: 2rem;
    color:white;
}
form input {
    text-align: center;
    margin-bottom: 1em;
    }

#addStudentBtn {
    font-weight: bold;
    background-color: crimson;
    border: none;
    padding: 10px;
    margin: 20px;
    color: white;
    letter-spacing: 1px;
    text-decoration: solid;
    cursor: pointer;
}